@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Tilt+Neon&display=swap');

:root {
  --main-bg-color: #222;
  --main-bg-color-tranparent: #2222229a;
  --main-btn-color: #ff4655;

  /* Astra */
  --astra-purple: #7013e4;

  /* Breach */
  --breach-orange: #ca5826;

  /* Brimstone */
  --brimstone-grey: #687c94;

  /* Chamber */
  --chamber-yellow: #ffd700;

  /* Cypher */
  --Cypher-orange: #fead78;

  /* Fade */
  --fade-light-blue: #517baf;

  /* Gekko */
  --geko-green: #459c42;

  /* Harbor */
  --harbor-light-blue: #517baf;

  /* Iso */
  --iso-light-blue: #517baf;

  /* Jett */
  --jett-light-blue: #73f5ed;

  /* Kayo */
  --kayo-blue: #2f4fff;

  /* Killjoy */
  --kj-yelow-color: #f2d52f;

  /* Omen */
  --omen-blue: #315bb9;

  /* Phoenix */
  --phoenix-orange: #ff8513;

  /* Raze */
  --raze-yellow: #fec54d;

  /* Reyna */
  --reyna-purple: #983586;

  /* Neon */
  --neon-blue: #113d9e;

  /* Sage */
  --sage-green: #38646b;

  /* Skye */
  --skye-green: #00c36f;

  /* Sova */
  --sova-green1: #38b3dd;

  /* Viper */
  --viper-green: #00b441;

  /* Yoru */
  --yoru-light-blue: #4a60b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s;
  scroll-behavior: smooth;
}

body {
  background-color: #111;
  font-family: 'Tilt Neon', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-bg-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-btn-color);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c45e61; 
}

header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-bottom: 200px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: space-around;
  background-color: #222;
  height: 80px;
  padding-inline: 1.8rem;
  list-style: none;
  border-radius: 0 0.5rem;
  color: white;
  font-family: 'Tilt Neon', sans-serif;
}

nav li {
  display: inline-block;
}

nav li a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.logo {
  width: 200px;
  transition: opacity 300ms ease;
  border-radius: 50px;
  cursor: pointer;
}

button {
  width: 120px;
  padding: 10px;
  font-size: 20px;
  background: none;
  border: none;
  border-radius: 10px;
  color: var(--main-btn-color);
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #414141;
}

.dropdown-menu {
  padding: 0 10px;
  /* margin-top: 5px; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  background-color: var(--main-bg-color);
  font-size: 60px;
  border-radius: 15px;display: none;
}

.dropdown-menu a {
  display: block;
  align-items: center;
  margin: 3px 0;
  text-align: center;
  /* flex-direction: row; */
}

.dropdown:hover .dropdown-menu {
  display: block;
}

a:hover {
  color: var(--main-btn-color);
  font-weight: bold;
}


.item {
  position: relative;
  font-size: 1rem;
}

/* .item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.6s ease;
}

.item:hover::before {
  transform: scaleX(1);
} */
/* 
.item:hover {
  opacity: 0.5s;
} */

.container {
  position: relative;
  height: 48em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  margin-top: 5em;
  z-index: -1;
}

.bio {
  width: 30%;
  background: none;
  text-align: end;
}


h3 {
  color: white;
  font-weight: 500;
}

h1 {
  font-size: 50px;
}

.Astra h1 {
  color: var(--astra-purple);
}

.Breach h1 {
  color: var(--breach-orange);
}

.Brimstone h1 {
  color: var(--brimstone-grey);
}

.Chamber h1 {
  color: var(--chamber-yellow);
}

.Cypher h1 {
  color: var(--Cypher-orange);
}

.Fade h1 {
  color: var(--fade-light-blue);
}

.Harbor h1 {
  color: var(--harbor-light-blue);
}

.Gekko h1 {
  color: var(--geko-green);
}

.Iso h1 {
  color: var(--iso-light-blue);
}

.Jett h1 {
  color: var(--jett-light-blue);
}

.Kayo h1 {
  color: var(--kayo-blue);
}

.killjoy h1 {
  color: var(--kj-yelow-color);
}

.Neon h1 {
  color: var(--neon-blue);
}

.Omen h1 {
  color: var(--omen-blue);
}

.Phoenix h1 {
  color: var(--phoenix-orange);
}

.Raze h1 {
  color: var(--raze-yellow);
}

.Reyna {
  color: var(--reyna-purple);
}

.Sage h1 {
  color: var(--sage-green);
}

.Skye h1 {
  color: var(--skye-green);
}

.Sova h1 {
  color: var(--sova-green1);
}

.Viper h1 {
  color: var(--viper-green);
}

.Yoru h1 {
  color: var(--yoru-light-blue);
}

.character {
  /* width: 95%; */
  animation: flutuar 4s infinite ease-in-out;
}

.Astra,
.Breach,
.Brimstone,
.Chamber,
.Cypher,
.Fade,
.Harbor,
.Gekko,
.Iso,
.Jett,
.Kayo,
.killjoy,
.Neon,
.Omen,
.Phoenix,
.Raze,
.Reyna,
.Sage,
.Skye,
.Sova,
.Viper,
.Yoru {
  visibility: hidden;
}

@keyframes flutuar {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.Astra {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/LotusTR.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Brimstone {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/pxfuel\ \(3\).jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Chamber {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/AscentA.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Cypher {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/AscentB.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Fade {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/Ascent.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Harbor {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/lotus.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Gekko {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/breeze2.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Iso {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/pxfuel.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Kayo {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/icebox3.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Jett {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/Icebox.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.killjoy {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/split2-2.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Neon {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/ascent4.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Omen {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/bind6.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Phoenix {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/pxfuel\ \(1\).jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Raze {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/haven3.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Reyna {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/haven2.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Sage {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/haven2.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Skye {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/Breeze.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Sova {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/haven1.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Viper {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/Ascent.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Yoru {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/pxfuel.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.divisao {
  position: absolute;
  height: 300px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 40%);
  z-index: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.inverted {
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 60%);
}

.divAstra {
  background-image: url(/assets/img/background/Astra.gif);
}

.divBrimstone {
  background-image: url(/assets/img/background/Brimstone.gif);
}

.divChamber {
  background-image: url(/assets/img/background/Chamber.gif);
}

.divCypher {
  background-image: url(/assets/img/background/Cypher.gif);
}

.divFade {
  background-image: url(/assets/img/background/Fade.gif);
}

.divHarbor {
  background-image: url(/assets/img/background/Harbor2.gif);
}

.divGekko {
  background-image: url(/assets/img/background/Gekko.gif);
}

.divIso {
  background-image: url(/assets/img/background/Iso.gif);
}

.divKayo {
  background-image: url(/assets/img/background/Kayo.gif);
}

.divJett {
  background-image: url(/assets/img/background/Jett.gif);
}

.divKilljoy {
  background-image: url(/assets/img/background/Killjoy.gif);
}

.divNeon {
  background-image: url(/assets/img/background/neon2.gif);
}

.divOmen {
  background-image: url(/assets/img/background/Omen.gif);
}

.divPhoenix {
  background-image: url(/assets/img/background/Phoenix.gif);
}

.divRaze {
  background-image: url(/assets/img/background/Raze.gif);
}

.divReyna {
  background-image: url(/assets/img/background/Reyna.gif);
}

.divSage {
  background-image: url(/assets/img/background/Sage2.gif);
}

.divSkye {
  background-image: url(/assets/img/background/Skye.gif);
}

.divSova {
  background-image: url(/assets/img/background/Sova.gif);
}

.divViper {
  background-image: url(/assets/img/background/Viper.gif);
}

.divYoru {
  background-image: url(/assets/img/background/Yoru.gif);
}