@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Tilt+Neon&display=swap');

:root {
  --main-bg-color: #222;
  --main-bg-color-tranparent: #2222229a;
  --main-btn-color: #ff4655;

  /* Astra */
  --astra-purple: #7013e4;

  /* Breach */
  --breach-orange: #ca5826;

  /* Brimstone */
  --brimstone-grey: #687c94;

  /* Chamber */
  --chamber-yellow: #ffd700;

  /* Cypher */
  --Cypher-orange: #fead78;

  /* Fade */
  --fade-light-blue: #517baf;

  /* Gekko */
  --geko-green: #459c42;

  /* Harbor */
  --harbor-light-blue: #517baf;

  /* Iso */
  --iso-light-blue: #517baf;

  /* Jett */
  --jett-light-blue: #73f5ed;

  /* Kayo */
  --kayo-blue: #2f4fff;

  /* Killjoy */
  --kj-yelow-color: #f2d52f;

  /* Omen */
  --omen-blue: #315bb9;

  /* Phoenix */
  --phoenix-orange: #ff8513;

  /* Raze */
  --raze-yellow: #fec54d;

  /* Reyna */
  --reyna-purple: #983586;

  /* Neon */
  --neon-blue: #113d9e;

  /* Sage */
  --sage-green: #38646b;

  /* Skye */
  --skye-green: #00c36f;

  /* Sova */
  --sova-green1: #38b3dd;

  /* Viper */
  --viper-green: #00b441;

  /* Yoru */
  --yoru-light-blue: #4a60b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s;
  scroll-behavior: smooth;
}

body {
  background-color: #111;
  font-family: 'Tilt Neon', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-bg-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-btn-color);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c45e61; 
}

header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-bottom: 200px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: space-around;
  background-color: #222;
  height: 80px;
  padding-inline: 1.8rem;
  list-style: none;
  border-radius: 0 0.5rem;
  color: white;
  font-family: 'Tilt Neon', sans-serif;
}

nav li {
  display: inline-block;
}

nav li a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.logo {
  width: 200px;
  transition: opacity 300ms ease;
  border-radius: 50px;
  cursor: pointer;
}

button {
  width: 120px;
  padding: 10px;
  font-size: 20px;
  background: none;
  border: none;
  border-radius: 10px;
  color: var(--main-btn-color);
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #414141;
}

.dropdown-menu {
  padding: 0 10px;
  /* margin-top: 5px; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  background-color: var(--main-bg-color);
  font-size: 60px;
  border-radius: 15px;display: none;
}

.dropdown-menu a {
  display: block;
  align-items: center;
  margin: 3px 0;
  text-align: center;
  /* flex-direction: row; */
}

.dropdown:hover .dropdown-menu {
  display: block;
}

a:hover {
  color: var(--main-btn-color);
  font-weight: bold;
}


.item {
  position: relative;
  font-size: 1rem;
}

/* .item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.6s ease;
}

.item:hover::before {
  transform: scaleX(1);
} */
/* 
.item:hover {
  opacity: 0.5s;
} */

.container {
  position: relative;
  height: 48em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  margin-top: 5em;
  z-index: -1;
}

.bio {
  width: 30%;
  background: none;
  text-align: end;
}


h3 {
  color: white;
  font-weight: 500;
}

h1 {
  font-size: 50px;
}

.Astra h1 {
  color: var(--astra-purple);
}

.Breach h1 {
  color: var(--breach-orange);
}

.Brimstone h1 {
  color: var(--brimstone-grey);
}

.Chamber h1 {
  color: var(--chamber-yellow);
}

.Cypher h1 {
  color: var(--Cypher-orange);
}

.Fade h1 {
  color: var(--fade-light-blue);
}

.Harbor h1 {
  color: var(--harbor-light-blue);
}

.Gekko h1 {
  color: var(--geko-green);
}

.Iso h1 {
  color: var(--iso-light-blue);
}

.Jett h1 {
  color: var(--jett-light-blue);
}

.Kayo h1 {
  color: var(--kayo-blue);
}

.killjoy h1 {
  color: var(--kj-yelow-color);
}

.Neon h1 {
  color: var(--neon-blue);
}

.Omen h1 {
  color: var(--omen-blue);
}

.Phoenix h1 {
  color: var(--phoenix-orange);
}

.Raze h1 {
  color: var(--raze-yellow);
}

.Reyna {
  color: var(--reyna-purple);
}

.Sage h1 {
  color: var(--sage-green);
}

.Skye h1 {
  color: var(--skye-green);
}

.Sova h1 {
  color: var(--sova-green1);
}

.Viper h1 {
  color: var(--viper-green);
}

.Yoru h1 {
  color: var(--yoru-light-blue);
}

.character {
  /* width: 95%; */
  animation: flutuar 4s infinite ease-in-out;
}

.Astra,
.Breach,
.Brimstone,
.Chamber,
.Cypher,
.Fade,
.Harbor,
.Gekko,
.Iso,
.Jett,
.Kayo,
.killjoy,
.Neon,
.Omen,
.Phoenix,
.Raze,
.Reyna,
.Sage,
.Skye,
.Sova,
.Viper,
.Yoru {
  visibility: hidden;
}

@keyframes flutuar {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.Astra {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/LotusTR.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Brimstone {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/pxfuel\ \(3\).jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Chamber {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/AscentA.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Cypher {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/AscentB.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Fade {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/Ascent.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Harbor {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/lotus.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Gekko {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/breeze2.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Iso {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/pxfuel.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Kayo {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/icebox3.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Jett {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/Icebox.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.killjoy {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/split2-2.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Neon {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/ascent4.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Omen {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/bind6.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Phoenix {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/pxfuel\ \(1\).jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Raze {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/haven3.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Reyna {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/haven2.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Sage {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/haven2.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Skye {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/Breeze.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Sova {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/haven1.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Viper {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/Ascent.png');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.Yoru {
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(42,42,42,0.7861519607843137) 41%, rgba(0,0,0,0.7049194677871149) 100%), url('/assets/img/background/pxfuel.jpg');
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.divisao {
  position: absolute;
  height: 300px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 40%);
  z-index: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.inverted {
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 60%);
}

.divAstra {
  background-image: url(https://64.media.tumblr.com/a837413a2247f3d7f97550de8f770731/c66c33c9bc1a145d-25/s500x750/b6d66583bc7572358526023337dac32902471dc8.gifv);
}

.divBrimstone {
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/035/235/143/original/marc-samper-tarancon-walk.gif?1614450905);
}

.divChamber {
  background-image: url(https://64.media.tumblr.com/97347f14e19a2bb2297aa578351767e8/4a1f7d33c65446ac-c6/s1280x1920/15082413cad3c6515b269ea4f2d84b1e16242ecd.gif);
}

.divCypher {
  background-image: url(https://i.redd.it/its-me-wallpaper-guy-again-these-are-some-of-the-animated-v0-y5yy81s0aprb1.gif?width=640&auto=webp&s=c45954669c070a8ff67ff9ecddec05330c30eb8f);
}

.divFade {
  background-image: url(https://i.pinimg.com/originals/cd/0f/60/cd0f60bca760cb27c61c64aec77e4d02.gif);
}

.divHarbor {
  background-image: url(https://64.media.tumblr.com/b0b1fd8a632d12625c4e52e0d1bfe419/7c527b5b9cfae5b7-25/s540x810/bbe73287c20b473454e31daa5c629408cee8b269.gif);
}

.divGekko {
  background-image: url(https://64.media.tumblr.com/82e081b9d44d3f9e3e89e6ddf7496464/ae2b36a386ee6461-f8/s500x750/a570ea71ec723c7aa0388500d8edf57872356077.gifv);
}

.divIso {
  background-image: url(https://64.media.tumblr.com/c8c5716ceec4ea37745e45528b8681b9/d6047b896d336561-0c/s540x810/fe4bdbc4502594e69ba0c4299de52c7f3191aeeb.gif);
}

.divKayo {
  background-image: url(/assets/img/background/Kayo.gif);
}

.divJett {
  background-image: url(https://64.media.tumblr.com/b250dc44572a772242f9f83e33dfb77e/c5d71214133b04bc-9a/s540x810/b1a93ad40b203456c04de08029213d667e9d5d8d.gifv);
}

.divKilljoy {
  background-image: url(https://64.media.tumblr.com/d97417bd11a580f12a251c1ca65cf1f1/bc5bdd9544b641fd-06/s540x810/765a37e867d971745ab80cb625727b209f40a27f.gif);
}

.divNeon {
  background-image: url(https://64.media.tumblr.com/4f05ab4b7cccb2bff37aa1df7e88f164/7d04b07ccad03ec1-36/s540x810/2df2211d3503cf27567d3f959dede0bb8907b159.gifv);
}

.divOmen {
  background-image: url(https://64.media.tumblr.com/fc5a0284501bc0b10689dccbf7148ac0/5122aac97d2f2a8c-02/s540x810/c957130ae82ef19a67d079f8cd6afae4172d69d7.gifv);
}

.divPhoenix {
  background-image: url(https://64.media.tumblr.com/e613a7d8cf75b876897b155379d13edf/5676916248bbf8a5-d7/s540x810/d3647e224a946008b653be088413b8776493b2e4.gifv);
}

.divRaze {
  background-image: url(https://i.makeagif.com/media/5-16-2022/ct565U.gif);
}

.divReyna {
  background-image: url(https://64.media.tumblr.com/26392a54477014714163287bf1e830e2/dc380a591d3a2ff3-0b/s540x810/bfde2890cdc8b1de4a8baf2c28d6ed6a51c864c1.gif);
}

.divSage {
  background-image: url(https://64.media.tumblr.com/34ee3c5d8b3c7cf5bac2ee82748e2a60/94f79bb1bbd89fa6-a6/s540x810/a305eccf01a2d4dccd9ad439e94cf89333f67490.gif);
}

.divSkye {
  background-image: url(https://i.pinimg.com/originals/8a/a2/32/8aa2322c93bba525743f40e53de13018.gif);
}

.divSova {
  background-image: url(https://64.media.tumblr.com/4afde68f27e82e1cdaea1ddaeaf74039/23ae939af10a9284-55/s540x810/780813f3bcd6893cdad935f86b0caeb6d709e447.gifv);
}

.divViper {
  background-image: url(https://64.media.tumblr.com/a6f9802210c5ec485b5c1e7381d35be3/32ab52739dc17066-3d/s540x810/5c973bbd3d2b7c97f7eb7f344b7e36ad2c708c07.gifv);
}

.divYoru {
  background-image: url(https://i.pinimg.com/originals/4d/bc/b9/4dbcb9a8779bc55708961d49b23f1047.gif);
}